/* HTML Elements */

body {
  font-family: "Roboto Slab", sans-serif;
}

h1 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.button-link {
  color: white;
}

.button-link:hover {
  color: yellow;
  text-decoration: none;
}

/* Classes */
.container-fluid {
  padding: 3% 15% 7%;
}

/* id's */
#title {
  background-color: #284E78;
  color: white;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 2.5rem;

}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.2rem;
}

.intro-row {
  text-align: center;
}

/* Title Image */
.profile-image {
  width: 75%;
  max-width: 250px;
  display: block;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 125px;
}

/* All Sections */

hr {
  background-color: rgb(160, 160, 160);
  max-width: 500px;
}

iframe {
  width: 52vw;
  height: 29vw;
}

.dark-bg {
  background-color: #0A2A42;
  padding: 50px;
  color: white;
}

.light-bg {
  background-color: #284E78;
  padding: 50px;
  color: white;
}

.row {
  margin: 10px;
}

h2 {
  margin-bottom: 20px;
  font-size: 40px;
}

.activity-title {
  margin-top: 15px;
  font-size: 20px;
}

.activity-description {
  color: lightgrey;
}

.media-carousel {
  height: 40vw;
  max-height: 650px;
  /* Automatically change to scroll when necessary */
  overflow: auto;
}

.carousel-item {
  text-align: center;
}

.carousel-img {
  display: inline;
  object-position: center;
  /* width: 640px;
  height: 360px; */
  width: 52vw;
  max-width: 750px;
}

.carousel-img-tall {
  display: inline;
  object-position: center;
  /* width: 427px;
  height: 360px; */
  height: 29vw;
  max-width: 600px;
}

.info-img {
  width: 100%;
}

.media-desc {
  margin-top: 5px;
  font-size: 14px;
}

/* Media Queries */

/* if screen size is above 600 px in width */
@media screen and (min-width: 601px) {

}

/* if screen size is 600 px or smaller in width */
@media only screen and (max-width: 600px) {

}

